

.homeContainer {
  column-count: 4;
  -webkit-column-count: 4;
  column-gap: 0;
  -webkit-column-gap: 0;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  padding: 5px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
}


.homeImg {
  border-radius: 20px;
  width: 250px;
  height: auto;
  background-color: white;
  border-style: none;
  padding: 10px 10px 10px 10px;
  repeat: (auto-fill, minmax(100px, 1fr));
}

.homeImg:hover {
  background-color: #efefef;
  border-radius: 20px;
  border-style: none;
  padding: 10px 10px 10px 10px;
}

.pinlistName {
  display: flex;
  justify-content: space-between;
  font-family: helvetica neue;
  padding-bottom: 20px;
  width: 240px;
  letter-spacing: -0.4px;
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
}

.pinlistName:hover {
  display: flex;
  justify-content: space-between;
  font-family: helvetica neue;
  width: 240px;
  letter-spacing: -0.4px;
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;

}
