.homeContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-top: 100px;
  padding-left: 100px;
  margin-right: 100px;
  grid-row-gap: 20px;
  /* grid-column-gap: 100px */
}

.homeImg {
  border-radius: 20px 20px 0px 0px;
  width: 236px;
  height: auto;
  background-color: white;
  border-style: none;
  padding: 10px 10px 10px 10px;
  z-index: -200px;
  repeat: (auto-fill, minmax(100px, 1fr));
}

/* .homeImg:hover {
  color: #efefef;
  border-radius: 20px 20px 0px 0px;
  border-style: none;
  padding: 10px 10px 0px 10px;
  opacity: 0.5;

} */

.pinlistName {
  font-family: helvetica neue;
  /* background-color: white; */
  border-radius: 0px 0px 20px 20px;
}
/* .hoverbg:hover {
  background-color: #efefef;
  border-radius: 20px 20px 20px 20px; */
/* } */
