.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 500px;
  z-index: 1;
}

#password {
  border-style: solid;
  border-width: 1px;
  padding: 8px 14px;
  background-color: #e8f0fd;
  border-radius: 8px;
  position: relative;
  text-align: center;
  width: 250px;

  min-height: initial;
  padding-bottom: 12px;
  justify-content: space-between;
  z-index: 1;
}

#submit {
  background-color: red;
  color: white;
  border-width: 1px;
  /* padding: 8px 14px; */
  border-radius: 8px;
  position: relative;
  text-align: center;
  width: 280px;
}

.whitebox {
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  text-align: center;
  width: 440px;
  min-height: initial;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
  padding-bottom: 55px;
  height: 600px;
}

.footer {
  color: white;
  font-family: helvetica neue;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

#button {
  color: #929292;
  border-style: none;
  font-weight: bold;
}

.logo {
  width: 50px;
  height: 50px;
  margin-top: 25px;
}

.logo2 {
  width: 110px;
  height: 110px;
}

.h1 {
  font-family: helvetica neue;
  letter-spacing: -0.4px;
}

.h4 {
  font-family: helvetica neue;
  letter-spacing: -0.4px;
  padding-right: 110px;
}

.terms {
  font-family: helvetica neue;
  letter-spacing: -0.2px;
  font-size: 10px;
  color: #929292;
  padding: 10px 12px 0px 12px;
}

.p {
  font-weight: normal;
}

.email {
  font-family: helvetica neue;
  letter-spacing: -0.2px;
  font-size: 17px;
  color: #333;
  font-weight: 400;
  margin: 0;
}
