.container {
  padding-top: 100px;
}

.pinInfo {
  font-family: helvetica neue;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 5% 5% 5% 12% 73%;
  grid-column-gap: 10px;
  padding-left: 200px;
  padding-right: 200px;
  place-items: start;
}

.pinUrl {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  background-color: #efefef;
  border-radius: 8px;
  border-style: none;
  padding: 7px 150px 7px 150px;
  color: black;
  margin: auto;
}

.pinUrl a:hover {
  text-decoration: underline;
  border-radius: 20px;
  border-style: none;
  background-color: #efefef;
  color: black;
}

.pinImage {
  grid-column: 1;
  border-radius: 500px;
  box-sizing: border-box;
  align-content: flex-end;
}

.pandc {
  font-family: helvetica neue;
  font-size: 18px;
  color: black;
  padding-left: 5px;
}

.pinName {
  grid-template-columns: 2 / 1;
  font-size: 24px;
  font-weight: bold;
  padding-left: 5px;
}

.pinCaption {
  grid-column: 2 / 2;
  padding-left: 5px;
}

#input {
  width: 300px;
  height: 200px;
  align-content: flex-start;
  border-style: 1px;
  padding-left: 5px;
}
.pinComment {
  grid-column: 2 / 5;
  width: 300px;
  padding-left: 5px;
}

.psAndComs {
  align-content: space-between;
  font-family: helvetica neue;
  font-weight: bold;
  color: #efefef;
  grid-column: 2 / 3;
  font-size: 15px;
  font-weight: bold;
  height: 20px;
}

.psAndComs a:link {
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  border-style: none;
  padding: 10px 20px 10px 20px;
  color: black;
}

.psAndComs a:hover {
  text-decoration: underline;
  border-radius: 20px;
  border-style: none;
  background-color: #efefef;
  color: black;
}

.psAndComs a:visited {
  color: #929292;
}

.psAndComs a:active {
  color: black;
  padding: 10px 10px 10px 10px;
  background-color: #efefef;
}
